html, body {
  box-sizing: border-box;
  margin: 0;
  background-color: black;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 80px);
  grid-auto-rows: 80px;
  gap: 10px;
}
.span-2 {
  grid-column: span 2;
}

.container{
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.input {
  margin: 20px;
  border: none;
    background-color: black;
    color: white;
    width: 330px;
    height: 100px;
    font-size: 60px;
    font-weight: lighter;

    
    text-align: right; 
}


button {
  border: none;
  border-radius: 50px;
  font-size: 30px;
}

  .gray-btn {
    background-color: #9f9f9f;
    color: #010101;
  }
  .dark-btn {
    background-color: #313131;
    color: #f7f7f7;
  }

.orange-btn {
  background-color: #f69907;
  color: #f6f6f6;
}

.gray-btn:hover {
color: #d9d9d9;
}

.dark-btn:hover {
  background-color: #737373; 
}

.orange-btn:hover {
  background-color: #fbc78f;
}